<md-content layout="row" layout-align="center center" layout-fill layout-margin>
	<div layout="column" flex="100" class="big-logo">
		<h1>DEMOCRACY</h1>
		<h2>DIRECT</h2>
		<p>
			Möjligheten att påverka har aldrig varit större!
		</p>
	</div>
	<div layout="row" flex="100" layout-align="center center">
	<div layout="column" flex="70" layout-margin layout-padding>
      <form name="registerForm" layout="column" layout-fill layout-padding layout-margin>
		<md-input-container>
          <label> Användarnamn </label>
          <input type="text" ng-model="register.credentials.username" aria-label="username" required/>
        </md-input-container>
        <md-input-container >
          <label> Mejladdress </label>
          <input type="text" ng-model="register.credentials.email" aria-label="email" required/>
        </md-input-container>
        <md-input-container >
          <label> Lösenord </label>
          <input type="password" ng-model="register.credentials.password" aria-label="password" required/>
        </md-input-container>
		<md-button class="md-raised md-accent md-hue-2" ng-click="register.register()" aria-label="login" ng-disabled="register.registerForm.$invalid()">Registrera dig</md-button>

      </form>
      <md-toolbar ng-show="register.error" class="md-warn" layout="row" layout-fill layout-padding layout-margin>
		  <p class="md-body-1">{{ register.error }}</p>
      </md-toolbar>
      <div layout="row" layout-align="center">
        <a class="md-button" href="/login">Har du ett konto?</a>
      </div>
    </div>
</div>
</md-content>
