
<md-button class="md-accent md-raised" type="button" ui-sref="^.list">Tillbaka</md-button>
<div flex-offset="10" layout="row">
	<div layout="column" flex="60">
		<md-card>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{BillDetailCtrl.bill.title}}</span>
					<span class="md-subhead" ng-bind="BillDetailCtrl.bill.date | date:'yyyy-MM-dd'"></span>
				</md-card-title-text>
				<md-chips>
					<md-chip ng-bind="BillDetailCtrl.bill.category"></md-chip>
				</md-chips>
			</md-card-title>
			<md-card-content ng-bind-html="BillDetailCtrl.bill.summary"></md-card-content>
			<md-card-actions layout="row">
				<md-button class="md-raised" style="background: green">Ja</md-button>
				<md-button class="md-raised" style="background: red">Nej</md-button>
				<span flex></span>
				<md-button ng-if="BillDetailCtrl.advancedVoting" class="md-raised" ng-click="BillDetailCtrl.advancedVoting = !BillDetailCtrl.advancedVoting">Enkel</md-button>
				<md-button ng-if="!BillDetailCtrl.advancedVoting" class="md-raised" ng-click="BillDetailCtrl.advancedVoting = !BillDetailCtrl.advancedVoting">Avancerad</md-button>
			</md-card-actions>
		</md-card>
		<di-bill-votings advancedvoting="BillDetailCtrl.advancedVoting" billvoting="BillDetailCtrl.bill.votings"></di-bill-votings>
	</div>
	<div layout="column" flex="25" flex-offset="5" layout-align="start center">
		<md-card>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">Debatt</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<iframe class="md-media-xl" ng-src="https://player.vimeo.com/video/1084537" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				<h4>Debattörer</h4>
				<ul>
					<li>
						<p>
							Maria Montasami
						</p>
					</li>
					<li>
						<p>
							Jimmie Åkesson
						</p>
					</li>
				</ul>
			</md-card-content>
		</md-card>
	</div>
</div>
